/* Global */

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.btn-main-style {
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  outline: none;
}
.btn-main-style-border {
  padding: 12px 28px;
  border: 2px solid #422c85;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  /* border: none; */
  outline: none;
}
button:focus {
  box-shadow: none;
  outline: none;
}
.btn-main-blue {
  background-color: #422c85;
  color: #ffffff;
  transition: 0.5s;
}

.btn-main-blue:hover {
  background-color: #3ac9bc;
}

.btn-main-blue-border {
  background-color: #ffffff;
  color: #422c85;
  transition: 0.5s;
}

.btn-main-blue-border:hover {
  background-color: #422c85;
  color: #ffffff;
}
.title-main-style {
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #422c85;
  margin-bottom: 0;
}

.title-style {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 500;
  color: #3ac9bc;
}
/* header */
header .header-main {
  position: relative;
  width: 100%;
  height: 100%;
}
header .header-navbar-brand {
  position: absolute;
  width: 320px;
  left: 37%;
  margin: 0 auto;
  height: 100%;
  padding-top: 15px;
  display: flex;
  z-index: 10;
  justify-content: center;
}
header .header-navbar-brand a {
  height: 120px;
  background-color: #ffffff;
  width: 320px;
  border-radius: 60%;
}
header .header-contain {
  font-size: 0.9rem;
  position: absolute;
  font-weight: 400;
  color: #422c85;
  background-color: #ffffff;
  width: 100%;
  z-index: 9;
}
.header .header-contain .header-container {
  width: 90% !important;
  margin: 0 auto !important;
}

header .header-contain .navbar .navbar-nav .nav-item .nav-link {
  padding: 22px 0;
  margin: 0 16px;
  letter-spacing: 1px;
  border-top: 3px solid transparent;
  color: #422c85;
}
header .header-contain .navbar .navbar-nav .nav-item:active .nav-link {
  border-top: 3px solid #422c85;
}
header .header-contain .navbar .navbar-nav .nav-item .nav-link:hover {
  border-top: 3px solid #422c85;
}

@media screen and (max-width: 993px) {
  header .header-navbar-brand {
    left: 29%;
    padding-top: 0;
  }
  header .header-navbar-brand a {
    background-color: #ffffff;
    width: 230px;
    border-radius: 60%;
  }
  header .header-contain .navbar .navbar-nav .nav-item .nav-link {
    margin: 0 9px;
  }
}

@media screen and (max-width: 769px) {
  header {
    height: 100px;
  }
  header .header-contain .navbar {
    justify-content: flex-end;
    align-items: center;
    align-self: center;
  }
  header .header-contain .navbar .navbar-toggler {
    margin-top: 25px;
  }
  .header .header-contain {
    height: 100px;
  }
  .header .header-contain .header-container {
    width: 100%;
    margin: 0 auto;
  }
  header .header-navbar-brand {
    width: 150px;
    left: 0;
    margin: 0 auto;
    height: 100%;
  }
  header .header-navbar-brand a {
    height: 80px;
    background-color: #ffffff;
    width: 150px;
    border-radius: 0%;
  }
  header .header-contain .navbar .navbar-nav .nav-item .nav-link {
    padding: 5px 0;
  }
  header
    .header-contain
    .navbar
    .navbar-nav:nth-child(1)
    .nav-item:nth-child(1) {
    padding-top: 40px;
  }
}
/* carousel */
.carousel {
  background-image: url(https://demo.cmssuperheroes.com/themeforest/wp-serenity-spa/wp-content/uploads/2016/06/bg-slider-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  font-size: 1rem;
}
.carousel .carousel-contain h3 {
  font-size: 3rem;
  font-weight: 100;
}
.carousel .carousel-contain h2 {
  font-size: 3.4rem;
  font-weight: 700;
}
.carousel .carousel-contain h2 span {
  font-weight: 100;
}
.carousel .carousel-contain p {
  margin-bottom: 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.carousel .carousel-contain span {
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #3ac9bc;
  font-size: 3.3rem;
}
@media screen and (max-width: 769px) {
  .carousel {
    height: 65vh;
  }
  .carousel .carousel-contain h3 {
    font-size: 1.5rem;
  }
  .carousel .carousel-contain h2 {
    font-size: 2.2rem;
  }

  .carousel .carousel-contain p {
    font-size: 0.7rem;
  }
  .carousel .carousel-contain span {
    font-size: 2.2rem;
  }
}

/* services */
.services {
  text-align: center;
  font-size: 1rem;
  color: #422c85;
  margin-bottom: 100px;
}
.services .services-item {
  margin-top: 50px;
}
.services .services-item p {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: 600;
}
.services .services-item h4 {
  font-size: 1rem;
  font-weight: 300;
}
/* welcome */
.welcome {
  background-image: url(https://demo.cmssuperheroes.com/themeforest/wp-serenity-spa/wp-content/uploads/2016/05/bg-index2.jpg?id=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  border-top: 0.2px solid #f4f4f4;
}

.welcome .welcome-content h2 {
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #422c85;
  margin-bottom: 0;
}

.welcome .welcome-content h5 {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 500;
  color: #3ac9bc;
}

.welcome .welcome-content p {
  color: #422c85;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  padding: 20px 0;
}
.welcome .welcome-item-contain {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.welcome .welcome-item {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 18px;
  border-radius: 50%;
}

.welcome .welcome-item img {
  width: 100%;
}

.welcome .welcome-item h3 {
  padding-top: 2%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(66, 44, 133, 0.65);
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
.welcome .welcome-item h3 span {
  transform: scale(1);
  transition: 0.5s;
}

.welcome .welcome-item:hover h3 span {
  transform: scale(0);
}
.welcome .welcome-item .welcome-item-overplay {
  position: absolute;
  width: 100%;
  height: 0%;
  top: 100%;
  left: 0;
  z-index: 20;
  transition: 0.5s;
}

.welcome .welcome-item:hover .welcome-item-overplay {
  top: 0%;
}
.welcome .welcome-item .welcome-item-overplay .welcome-item-overplay-content {
  position: relative;
  padding-top: 15%;
  color: #ffffff;
}
.welcome .welcome-item .welcome-item-overplay .welcome-item-overplay-content a {
  position: absolute;
  width: 100%;
  height: 18px;
  top: -36px;
  text-align: center;
  background-color: #422c85;
  color: #ffffff;
  transition: 0s;
}
.welcome .welcome-item .welcome-item-overplay .welcome-item-overplay-content a i {
  position: relative;
  
}
.welcome .welcome-item .welcome-item-overplay .welcome-item-overplay-content a i::before {
  position: absolute;
  width: 70px;
  height: 28px;
  bottom: 0;
  left: -30px;
  background-color: #422c85;
  border-radius: 7px;
}
.welcome
  .welcome-item
  .welcome-item-overplay
  .welcome-item-overplay-content
  .welcome-item-overplay-content-detail {
  text-align: center;
}
.welcome
  .welcome-item:hover
  .welcome-item-overplay
  .welcome-item-overplay-content
  a {
    
  top: 0%;
}
.welcome
  .welcome-item:hover
  .welcome-item-overplay
  .welcome-item-overplay-content
  a i::before{
    transform: rotateX(180deg);
}
.welcome
  .welcome-item:hover
  .welcome-item-overplay
  .welcome-item-overplay-content
  span {
  width: 100%;
  
  top: 0%;
}
.welcome
  .welcome-item
  .welcome-item-overplay
  .welcome-item-overplay-content
  span {
 cursor: pointer;
 transition: .5s;
}
.welcome
  .welcome-item
  .welcome-item-overplay
  .welcome-item-overplay-content
  span:hover {
 color: #3ac9bc;
}


/* mailing */
 .mailing{
   background-image: url(https://demo.cmssuperheroes.com/themeforest/wp-serenity-spa/wp-content/uploads/2016/05/Index_02.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 150px 0;
   font-size: .7rem;
   color: #ffffff;
 }
 .mailing .row{
   margin: 0 ;
 }
 .mailing .mailing-contain{
   width: 100%;
 }
 .mailing .mailing-contain h4{
  font-size: 1.5rem;
  line-height: 28px;
width: 100%;
 }
 .mailing .mailing-contain p{
 margin-bottom: 0;
 }
 .mailing .mailing-contain h4 span{
  color: #3ac9bc;
   }
   .mailing .mailing-contain .mailing-contain-join{
     width: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
    transition: .5s;
   }
.mailing .mailing-contain .mailing-contain-join input{
  width: 68%;
  height: 38px;
  outline: none;
  border: none;
  color: #ffffff;
  padding-left: 20px;
  font-size: .7rem;
  background-color: transparent;
}
.mailing .mailing-contain .mailing-contain-join input::placeholder{
  
  color: #ffffff;

}
.mailing .mailing-contain .mailing-contain-join input:focus{
 box-shadow: none;

}
.mailing .mailing-contain .mailing-contain-join button{
  width: 30%;
  float: right;
  height: 38px;
  background-color: #ffffff;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: .5s;
}

.mailing .mailing-contain .mailing-contain-join:hover {
  border: 1px solid #3ac9bc;
}
.mailing .mailing-contain .mailing-contain-join:hover button{
  background-color: #3ac9bc;
  color: #ffffff;
}
@media screen and (max-width: 769px) {
  .mailing .mailing-contain .mailing-contain-join{
   margin-top: 30px;
  }
}
/* explore */
.explore {
  background-image: url(https://demo.cmssuperheroes.com/themeforest/wp-serenity-spa/wp-content/uploads/2016/05/Index-bg-services.jpg?id=552);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
}

.explore .explore-item{
  margin: 50px 0;
}

.explore .explore-item .explore-item-img{
  border-radius: 50%;
  position: relative;
  border-radius: 5px;
}
.explore .explore-item .explore-item-img .explore-item-img-overplay{
  position: absolute;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(66, 44, 133, .7);
}

.explore .explore-item .explore-item-img img{
  width: 100%;
}

.explore .explore-item h3{
 font-size: 1.2rem;
 letter-spacing: 2px;
 color: #422c85;
 font-weight: 400;
 margin: 20px 0;
}

.explore .explore-item p{
  font-size: .9rem;
 font-weight: 400;
 letter-spacing: 1px;
 color: #8e8e8e;
}
.explore .explore-view .explore-view-button button{
  padding: 18px 40px;
  font-size: .95rem;
}
.explore .explore-view .explore-view-img{
  width: 90%;
  margin-left: 10%;
}
.explore .explore-view .explore-view-img img{
  width: 100%;
}

/* ourSpa */
.ourSpa{
  background-image:url("https://demo.cmssuperheroes.com/themeforest/wp-serenity-spa/wp-content/uploads/2016/05/index-bg-counter.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-size: .8rem;
  text-align: center;
  padding: 50px 0;
}
.ourSpa .ourSpa-item{
  background-color: rgb(38, 38, 38, .5);
  border-radius: 10px;
  padding: 30px 20px;
}
.ourSpa h3{
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.ourSpa h4{
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 30px;
}

/* reviews */
.reviews{
  padding-top: 50px;
  text-align: center;
  background-image: url(https://demo.cmssuperheroes.com/themeforest/wp-serenity-spa/wp-content/uploads/2016/05/Index-BG-testimonial_02.jpg?id=510);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews .reviews-item h4{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #422c85;
  margin: 60px 0;
}
.reviews .reviews-item .reviews-item-content{
  position: relative;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 30px;
}
.reviews .reviews-item .reviews-item-content i{
  font-size: 4rem;
 height: 30px;
  font-weight: 400;
  color: #422c85;
}
.reviews .reviews-item .reviews-item-content p{
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #8e8e8e;
}
.reviews .reviews-item .reviews-item-content .reviews-item-content-img{
  position: absolute;
  width: 100%;
  height:90px;
  left: 0;
  bottom: -20%;
}

.reviews .reviews-item .reviews-item-content .reviews-item-content-img img{
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
/* voucher */
.voucher{
  padding: 30px 0;
  background-color: #422c85;
  margin-bottom: 100px;
  border-bottom: 1px solid #8e8e8e;
}
.voucher p{
  margin-bottom: 0;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #ffffff;
}
.voucher button:hover{
  background-color: #3ac9bc;
}

/* footer-item */
footer .footer-item{
  width: 100%;
}
footer .footer-item h4{
  font-size: 1rem;
  font-weight: 600;
  color: #422c85;
  letter-spacing: 1px;
}
footer .footer-item img{
  max-width: 100%;
  height: auto;
}
footer .footer-item ul{
  list-style: none;
}

footer .footer-item ul li a{
 text-decoration: none;
 font-size: .9rem;
 font-weight: 400;
 letter-spacing: 1px;
 color: #9c7ff3;
 line-height: 2
 ;
}
footer .footer-item ul li a:hover{
  color: #422c85;
  font-weight: 600;
  
 }
 @media screen and (max-width: 993px) {
  footer .footer-item{
    text-align: center;
  }
}