/* Global */

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
button:focus{
  outline: none;
}
.btn-pink-basic {
  outline: none;
  background-color: #f9a392;
  color: #f4f4f4;
  padding: 18px 70px;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btn-pink-basic:hover {
  background-color: #f4f4f4;
  color: #f9a392;
}
.Btn-Special {
  border: none;
  outline: none;
  color: #ffffff;
  height: 50px;
  transition: 0.5s;
  padding: 12px 0;
}
.Btn-Special .Btn-Special-contain {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.Btn-Special span:nth-child(1) {
  position: absolute;
  top: 3px;
  width: 100%;
  left: 0;
  text-align: center;
  transition: 0.5s;
}
.Btn-Special span:nth-child(2) {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  transition: 0.5s;
}
.Btn-Special:hover span:nth-child(1) {
  top: -50px;
}
.Btn-Special:hover span:nth-child(2) {
  top: 3px;
}
.Btn-Pink {
  background-color: #f9a392;
}
.Btn-Blue {
  background-color: #8ed4cc;
}
.Btn-long{
  width: 150px;
  display: flex;
  justify-content: center;
  background-color: #8ed4cc;
  box-shadow: none;
  outline: none;
  border: 2px solid #f4f4f4;
  margin-top: 30px;
  padding: 10px 20px;
  transition: .5s;
}
.Btn-long-pink{
  
  background-color: #ffffff;

  border: 2px solid #f4f4f4;
 
}

.Btn-long span{
  color: #f4f4f4;
}
.Btn-long-pink span{
  color: #f9a392;
}
.Btn-long .animation-long{
  width: 0;
  height: 1px ;
  background-color: #f4f4f4;
  transition: .5s;
  margin-top: 10px;
  margin-right: 10px;
}
.Btn-long-pink .animation-long-pink{
  background-color: #f9a392;
}
.Btn-long:hover {
  width: 180px;
}
.Btn-long:hover .animation-long{
  width: 30px;
  
}

@media screen and (max-width: 767px) {
  .btn-pink-basic {
    padding: 9px 30px;
  }
}
.main-title-font-Haviland {
  font-family: "Mr De Haviland", cursive;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #f9a392;
}
.main-title {
  font-size: 2.4rem;
  color: #232a34;
  font-weight: 300;
}
/* header */
header {
  font-size: 1rem;
  color: #232a34;
  font-weight: 500;
}
header a {
  text-decoration: none;
}
header .header-contact-content {
  background-color: #f4f4f4;
  /* padding: 10px 0; */
}
header .header-contact {
  font-size: 13px;
  color: #757575;
}
header .header-contact .header-contact-left span:nth-child(2) {
  position: relative;
  margin-left: 30px;
}
header .header-contact .header-contact-left span:nth-child(2)::before {
  content: "";
  width: 1px;
  height: 10px;
  position: absolute;
  background-color: #757575;
  left: -10%;
  top: 30%;
}
header .header-contact .header-contact-left a {
  text-decoration: none;
  color: #757575;
  height: 30px;
  transition: 0.4s;
}
header .header-contact .header-contact-left a:hover {
  color: #8ed4cc;
}

header .header-contact .header-contact-right i {
  font-size: 12px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #757575;
}

header .header-contact .header-contact-right .contact-icon {
  background-color: #f9a392;
  color: #f4f4f4;
  /* font-size: 15px; */
}
header .header-contact .header-contact-right .contact-icon i {
  color: #f4f4f4;
  background-color: #f9a392;
  /* font-size: 15px; */
}

.navbar {
  padding: 0;
}
.navbar-nav--menu .nav-item {
  margin-left: 20px;
}

.navbar-nav--menu .nav-item .nav-link {
  font-weight: 400;
  color: #282828;
  font-size: 0.8rem;
  transition: 0.5s;
}

.nav-item__line {
  width: 100%;
  height: 2px;
  background: transparent;
  transition: 0.5s;
}

.navbar-nav--menu .nav-item:hover > .nav-item__line {
  width: 100%;
  background-color: #f9a392;
  height: 2px;
}

.navbar-nav--menu .active .nav-item__line {
  width: 100%;
  background-color: #f9a392;
  height: 2px;
}
.navbar .navbar-collapse {
  padding: 2em 0;
}

@media screen and (max-width: 992px) {
  header .header-contact-content {
    display: none;
  }
}
/* carousel */
.carousel {
  background-image: url(http://jacqueline-html.themerex.net/images/3-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  color: #f4f4f4;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-content {
  width: 95%;
  text-align: center;
}

.carousel .carousel-content h3 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 0;
}
.carousel .carousel-content h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 0;
}
.carousel .carousel-content h5 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .carousel {
    height: 70vh;
  }
  .carousel .carousel-content h3 {
    font-size: 2rem;
  }
  .carousel .carousel-content h2 {
    font-size: 2rem;
  }
  .carousel .carousel-content h5 {
    font-size: 0.8rem;
  }
}
/* welcome */
.welcome {
  background-color: #f8f8f8;
  padding: 110px 0;
  color: #232a34;
  text-align: center;
}
.welcome .welcome-title h4 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #f9a392;
}
.welcome .welcome-title p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
  color: #757575;
  margin-bottom: 2.7rem;
}
.welcome .welcome-intro .welcome-intro-item {
  /* padding-right: 30px; */
  position: relative;
  width: 80%;
  margin: 0 10%;
  /* margin-top: 100px; */
  /* margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%; */
  height: 100%;
}
.welcome .welcome-intro {
  /* padding-left: 30px; */
}
.welcome-intro-item .welcome-intro-item-img {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.welcome-intro-item
  .welcome-intro-item-img:hover
  .welcome-intro-item-img-overplay {
  background-color: rgb(249, 163, 146, 0.5);
}
.welcome-intro-item-img .welcome-intro-item-img-overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #ffffff;
  transition: 0.5s;
  top: 0;
  left: 0;
}
.welcome .welcome-intro .welcome-intro-item img {
  width: 100%;
  border: 4px solid #ffffff;
}
/* .welcome .welcome-intro .welcome-intro-item .welcome-intro-item-content{
    position: absolute;
    width: 80%;
    height: 200px;
    margin: 0 10%;
    background-color: #ffffff;
    z-index: 10;
    bottom: -20%;
} */
.welcome .welcome-intro .welcome-intro-item .welcome-intro-item-content {
  position: absolute;
  width: 80%;
  height: 170px;
  margin: 0 10%;
  background-color: #ffffff;
  z-index: 10;
  bottom: -20%;
}
.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover {
  position: relative;
  width: 100%;

  height: 100%;
}

.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover
  button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover
  .welcome-intro-item-content-cover-title {
  padding-top: 30px;
}

.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover
  .welcome-intro-item-content-cover-title
  p {
  font-family: "Mr De Haviland", cursive;
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: 0;
  color: #f9a392;
  transition: 0.5s;
  cursor: pointer;
}
.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover
  .welcome-intro-item-content-cover-title
  p:hover {
  color: #8ed4cc;
}
.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover
  .welcome-intro-item-content-cover-title
  h5 {
  transition: 0.5s;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
  color: #282828;
  cursor: pointer;
}
.welcome
  .welcome-intro
  .welcome-intro-item
  .welcome-intro-item-content
  .welcome-intro-item-content-cover
  .welcome-intro-item-content-cover-title
  h5:hover {
  color: #8ed4cc;
}

@media screen and (max-width: 992px) {
  .welcome-intro-item-col {
    margin-bottom: 100px;
  }
}
/* massage */
.massage .massage-left {
  width: 100%;
  background-image: url(http://jacqueline-html.themerex.net/images/68802087.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.massage .massage-right {
  width: 100%;
}
.massage .massage-right .massage-item {
  width: 100%;
  text-align: center;
  padding: 70px 25px;
  height: 100%;
  background-color: #ffffff;
  transition: 0.5s;
  border: 1px solid #f4f4f4;
}
.massage .massage-right .massage-item i {
  font-size: 2.2rem;
  color: #f9a392;
  transition: 0.5s;
  margin: 5px 0;
}
.massage .massage-right .massage-item h3 {
  font-size: 1.3rem;
  font-weight: 500;
  width: 80%;
  line-height: 2;
  margin: 0 auto;
  transition: 0.5s;
  position: relative;
}
.massage .massage-right .massage-item h3::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #f4f4f4;
  bottom: -8px;
  left: 35%;
}
.massage .massage-right .massage-item p {
  width: 80%;
  transition: 0.5s;
  margin: 20px auto;
  font-size: 0.7rem;
  font-weight: 700;
  color: #757575;
}

.massage .massage-right .massage-item:hover {
  background-color: #f9a392;
}
.massage .massage-right .massage-item:hover i {
  color: #f4f4f4;
}
.massage .massage-right .massage-item:hover h3 {
  color: #f4f4f4;
}
.massage .massage-right .massage-item:hover p {
  color: #f4f4f4;
}

.brands {
  background-color: #f9a392;
}
.brands .brands-left {
  width: 80%;

  color: #ffffff;
  background-color: rgb(255, 255, 255, 0.2);
  height: 100%;
  font-size: 0.4rem;
}
.brands .brands-left h4 {
  width: 70%;
  margin: 0 15%;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 400;
}
.brands .brands-right .brands-right-item {
  width: 100%;
}
.brands .brands-right .brands-right-item img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .brands .brands-left {
    width: 100%;
    color: #ffffff;

    background-color: unset;
    height: 200px;
    text-align: left;
    font-size: 0.4rem;
  }
}
/* openHours */
.openHours {
  font-size: 0.8rem;
  color: #757575;
  margin: 50px 0;
}
.openHours .openHours-left {
  margin-top: 40px;
}
.openHours .openHours-left h3 {
  font-size: 1.5rem;
  color: #595959;
  font-weight: 400;
}
.openHours .openHours-left p {
  margin: 20px 0;
}
.openHours .openHours-left ul {
  margin-left: 20px;
  margin-bottom: 50px;
}
.openHours .openHours-right {
  position: relative;
  height: 100%;
  width: 100%;
}
.openHours .openHours-right .openHours-right-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 65%;
}
.openHours .openHours-right .openHours-right-item {
  position: absolute;
  top: 3.3em;
  right: 0;
  width: 45%;
  height: 100%;
  z-index: 10;
  background-color: #8ed4cc;
  padding: 0 40px;
}

.openHours .openHours-right .openHours-right-item {
  position: absolute;
  top: 3.3em;
  right: 0;
  height: 100%;
  width: 45%;
}
.openHours-right-item .openHours-right-item-content {
  position: relative;
}
.openHours-right-item .openHours-right-item-content h3 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10rem;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.1);
}
.openHours-right-item .openHours-right-item-content p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  padding-top: 20%;
}

.openHours-right-item .openHours-right-item-content h2 {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}
.openHours-right-item .openHours-right-item-content h2:hover {
  color: #33a5a5;
}
@media screen and (max-width: 1200px) {
  .openHours .openHours-right .openHours-right-item {
    right: 0;
    top: 0.3em;
    height: 400px;
    width: 45%;
  }
}
@media screen and (max-width: 992px) {
  .openHours .openHours-right .openHours-right-item {
    right: 0;
    top: 0.3em;
    height: 320px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .openHours .openHours-right .openHours-right-item {
    right: 0;
    top: 0.3em;
    height: 280px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .openHours .openHours-right .openHours-right-img img {
    display: none;
  }
  .openHours .openHours-right .openHours-right-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: auto 0; */
  }
}
/* news */
.news {
  margin-top: 100px;
  background-color: #f4f4f4;
  padding: 50px 0;
}
.news .new-content {
  margin-top: 50px;
}
.news .new-content .new-content-item {
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 2px solid #f9a392;
}
.news .new-content .new-content-item .new-content-item-img {
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}
.news .new-content .new-content-item .new-content-item-img img {
  width: 100%;
}
.news
  .new-content
  .new-content-item
  .new-content-item-img
  .new-content-item-img-overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: transparent;
}
.news
  .new-content
  .new-content-item
  .new-content-item-img:hover
  .new-content-item-img-overplay {
  background-color: rgb(249, 163, 146, 0.3);
}
.news .new-content .new-content-item .new-content-item-pink {
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  color: #f9a392;

  transition: 0.5s;
}
.news .new-content .new-content-item h4 {
  font-size: 1rem;
  margin-top: 5px;
  font-weight: 400;
  cursor: pointer;
  color: #232a34;
  transition: 0.5s;
}

.news .new-content .new-content-item p {
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #595959;
  transition: 0.5s;
}
.news .new-content .new-content-item .new-content-item-hover:hover {
  color: #8ed4cc;
}
.news .new-content .new-content-item .new-content-item-pink {
  color: #f9a392;
}

.news .news-Btn {
  width: 100%;
  padding: 0 auto;
}
.news button {
  width: 150px;
  height: 40px;
}
@media screen and (max-width: 1200px) {
  .news {
    margin-top: 500px;
  }
}

@media screen and (max-width: 768px) {
  .news {
    margin-top: 300px;
  }
}
/* services */
.services {
  background-image: url(http://jacqueline-html.themerex.net/images/21714921_original.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  font-size: 0.8rem;
  color: #ffffff;
}
.services .services-contain {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.services .services-detail {
  max-width: 585px;
  padding: 60px 50px;
  background-color: #8ed4cc;
}
.services .services-detail h3 {
  font-size: 2.2rem;
  letter-spacing: 1px;
}
.services .services-detail p {
  margin-top: 30px;
  margin-bottom: 40px;
}
.services .services-detail hr {
  background-color: #ffffff;
  font-size: 0.2rem;
  height: 0.3px;
}
/* products */
.products {
  text-align: center;
  background-color: #f4f4f4;
  padding: 50px 0;
}
.products .products-contain {
  margin-top: 50px;
}
.products .products-contain .products-item {
  width: 100%;
}
.products .products-contain .products-item img {
  width: 100%;
}
.products .products-contain .products-item .products-item-img {
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100%;
}
.products
  .products-contain
  .products-item
  .products-item-img
  .products-item-img-overplay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.products
  .products-contain
  .products-item
  .products-item-img:hover
  .products-item-img-overplay {
  background-color: rgb(249, 163, 146, 0.3);
}
.products
  .products-contain
  .products-item
  .products-item-img
  .products-item-img-overplay
  .products-item-img-overplay-icon {
  width: 100%;
  position: relative;
}
.products
  .products-contain
  .products-item
  .products-item-img
  .products-item-img-overplay
  .products-item-img-overplay-icon
  .icon-left {
  font-size: 15px;
  line-height: 50px;
  border-radius: 50%;
  width: 50px;
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  /* margin-right: 100px; */
  margin-bottom: 50px;
  color: transparent;
  transform: rotate(-90deg);
  transition: 1s;
}
.products
  .products-contain
  .products-item
  .products-item-img:hover
  .products-item-img-overplay
  .products-item-img-overplay-icon
  .icon-left {
  background-color: #282828;

  /* margin-left: 0px; */
  color: #f9a392;
  left: 27%;
  transform: rotate(0deg);
}
.products
  .products-contain
  .products-item
  .products-item-img
  .products-item-img-overplay
  .products-item-img-overplay-icon
  .icon-right {
  font-size: 15px;
  height: 50px;
  position: absolute;
  right: 0;
  line-height: 50px;
  border-radius: 50%;
  width: 50px;
  /* background-color: #282828; */
  color: transparent;
  /* margin-left: 100px; */
  margin-bottom: 50px;
  transform: rotate(90deg);
  /* color: #f9a392; */
  transition: 1s;
}
.products
  .products-contain
  .products-item
  .products-item-img:hover
  .products-item-img-overplay
  .products-item-img-overplay-icon
  .icon-right {
  background-color: #282828;
  /* margin-right: 0px; */
  right: 27%;
  transform: rotate(0deg);
  color: #f9a392;
}
.products
  .products-contain
  .products-item
  .products-item-img:hover
  .products-item-img-overplay
  .products-item-img-overplay-icon
  .icon-right:hover {
  background-color: #ffffff;
  color: #8ed4cc;
}
.products
  .products-contain
  .products-item
  .products-item-img:hover
  .products-item-img-overplay
  .products-item-img-overplay-icon
  .icon-left:hover {
  background-color: #ffffff;
  color: #8ed4cc;
}
.products-item-img-overplay-icon i:hover {
  background-color: #ffffff;
  color: #8ed4cc;
}
.products .products-contain .products-item p {
  color: #f9a392;
  font-size: 0.7rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}
.products .products-contain .products-item p span {
  cursor: pointer;
  transition: 0.5s;
}
.products .products-contain .products-item p span:hover {
  cursor: pointer;
  color: #8ed4cc;
}
.products .products-contain .products-item h5 {
  color: #282828;
  font-size: 0.9rem;
  font-weight: 600;
}
.products .products-contain .products-item h4 {
  color: #757575;
  font-size: 1.1rem;
  font-weight: 300;
}

/* appointment */
.appointment {
  height: 450px;
  background-image: url(http://jacqueline-html.themerex.net/images/Rectangle-136-copy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appointment .appointment-content h4 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #f4f4f4;
}
.appointment .appointment-content h3 {
  font-size: 2.4rem;
  color: #f4f4f4;
  font-weight: 300;
}
.appointment .appointment-content p {
  font-size: 1rem;
  color: #f4f4f4;
  font-weight: 500;
}

.appointment .appointment-Btn {
  width: 100%;
  padding: 0 auto;
}
.appointment button {
  width: 250px;
  height: 40px;
}
footer{
  text-align: center;
}
footer .footer-item{
  font-size: .8rem;
  color: #757575;
  font-weight: 400;
  margin-bottom:  1.8em;
}

footer .footer-item h4{
  font-size: .9rem;
  margin-bottom: 1.8em;
  color: #282828;
  font-weight: 600;
}

footer .footer-item p{
  margin-bottom: .2em;
}
footer .footer-item a{
  color: #f9a392;
  text-decoration: none;
}
footer .footer-item a:hover{
  color: #8ed4cc;
}
footer .footer-back-to-top {
  position: relative;
  width: 100%;
  height: 100px;
}
footer .footer-back-to-top .back-to-top{
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 44%;
  background-color: transparent;
  display: flex ;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
  -moz-box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
  box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
}
footer .footer-back-to-top .back-to-top:hover{
  
  animation: animation .2s 1 ;
 
}
footer .footer-back-to-top .back-to-top .back-to-top-container{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 25%;
}


.back-to-top-container{
  font-size: .8rem;
  position: fixed;
  bottom: 30px;
  background-color: #f9a392;
  opacity: .5;
  right: 30px;
}

.back-to-top-container a i{
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-size: .8rem;
  /* border: 1px solid #021d97; */
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}

@keyframes animation{
  0%{
    -webkit-box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
    -moz-box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
    box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
  }
  50%{
    -webkit-box-shadow: inset 0px 0px 96px -15px rgba(249,163,146,1);
    -moz-box-shadow: inset 0px 0px 96px -15px rgba(249,163,146,1);
    box-shadow: inset 0px 0px 96px -15px rgba(249,163,146,1);
  }
  100%{
    -webkit-box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
    -moz-box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);
    box-shadow: inset 0px 0px 96px -143px rgba(249,163,146,1);}
}

footer .newsletter h3{
  font-size: .9rem;
  margin-bottom: 1.8em;
  color: #282828;
  font-weight: 600;
}
footer .newsletter h3{
  font-size: .9rem;
  margin-bottom: 1.8em;
  color: #282828;
  font-weight: 600;
}

footer .newsletter .newsletter-subscribe input{
 height: 50px;
 width: 250px;
 background-color: #f4f4f4;
 outline: unset;
 border: unset;
 box-shadow: none;
 font-size: .8rem;
}
footer .footer-Btn {
  width: 150px;
  
 
  padding: 0 auto;
}
footer .footer-Btn .Btn-Special{
  width: 150px;
}
footer .footer-Btn .Btn-Pink {
  background-color: #232a34;
}
.footer button {
  width: 150px;
  height: 40px;
}
footer .newsletter .newsletter-icon i{
  font-size: 1rem;
  color: #757575;
  line-height: 40px;
  width: 40px;
transition: .5s;
}
footer .newsletter .newsletter-icon i:hover{
  color: #f9a392;
}

footer .newsletter  p{
  font-size: .8rem;
  color: #757575;
}

footer .newsletter  p span{
  font-size: .8rem;
  color: #f9a392;
 transition: .5s;
}

footer .newsletter  p span:hover{
  color: #8ed4cc;
 }