.slick-slider{
    .slick-prev,.slick-next{
        // height: 50px;
        // width: 50px;
        // border-radius: 50%;
        // // background: white !important;
        // // background-color: #f06f24;
        // background: transparent;
        // box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
        // z-index: 100;
        // line-height: 48px;
        // align-items: center;
        // position: absolute;
        // border: 1px solid #fff;
        // transition: .5s;
        // &:hover{
        //     box-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
        //     2px 2px 2px rgba(206, 89, 55, 0);
        // }
        
    }
    .slick-prev{
        // left: -50px;
        // top: 50%;
        z-index: 5;
        left: 0;
        
    }
    .slick-next{
        // right: -50px;
        // top: 50%;
        z-index: 5;
        right: 0;
    }
    .slick-prev:before{
        // font-family: "Font Awesome 5 Free";
        // color: #0f7c90 !important;
        // align-items: center;
        // position: absolute;
        // left: -5px;
        // top: -6px;
        // background: transparent;
        // content: url(../../img/icon-start.png)  !important;
        // font-weight: 900;
        display: none;
    }
    .slick-next:before{
        // align-items: center;
        // @extend .slick-prev:before;
        // background: transparent;
        // right: 5px;
        // top: -6px;
        // content: url(../../img/icon-start.png) !important;
        // font-weight: 900;
        display: none;
    }
    // .slick-dots li button:before {
    //     font-size: 15px;
    //     color: #ec5252;
    // }
    // .slick-dots li.slick-active button:before {
    //     color: #ec5252;
    // }
}
.slick-dots li {
  bottom: 40px;
  }
  .slick-dots li {
    margin: 0 5px;
  }
  .slick-dots li button::before {
    content: " " !important;
    background: #d8d8d8;
    opacity: 1;
    position: absolute;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
 
  }
  .slick-dots li button:hover::before {
    scale: 0.8;
  }
  