/* Global */

header, section, footer, aside, nav, main, article, figure {
    display: block;
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }


  html{
      scroll-behavior: smooth;
     
  }
  html, body{
      font-size: 10px;
      font-family: 'Rubik', sans-serif;
  }

/* header */
.header {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
  z-index: 10;
  background-color: none;
}
.header .navbar img{
    width: 85px;
    height: 32px;
}
.header .navbar .navbar-toggler .navbar-toggler-icon {
  font-size: 2rem;
}
.header .navbar  {
    margin-left: 0!important;
  }

.header .collapse .navbar-nav {
  list-style: none;
  display: flex;
}

.header .collapse .navbar-nav .nav-item {
  margin: 15px 20px;
  transition: all 0.5s;
}

.header .collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.header .header__Shopping .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    padding: 3px 20px;
}
.header .header__Shopping .navbar-nav {
    width: 200px;
    display: flex;
}
.header .header__Shopping .navbar-nav .nav-item{
    align-items: center;
    align-self: center;
    justify-content: space-between;
    margin-left: 25px;
}
.header .header__Shopping .navbar-nav .nav-item i{
    text-decoration: none;
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
    align-self: center;
    justify-content: center;
    
}
@media screen and (max-width:992px){
    .header .header__Shopping .navbar-nav .nav-item .nav-link{
        font-size: 1.5rem;
        border: 1.5px solid #ffffff;
        border-radius: 3px;
        padding: 3px 15px;
    }
    
    .header .header__Shopping .navbar-nav {
        flex-direction: row;
        width: 180px;
        justify-content: flex-end;
        padding: 3px 15px;
    }
    .header .header__Shopping .navbar-nav .nav-item{
        margin-left: 5px;
    }
}
/* carousel */
.carousel {
  width: 100%;
  height: 110vh;
  background-image: url(./img/slide1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: relative;
}
.carousel .carousel__Border {
   width: 100%;
   height: 100%;
    position: relative;
  }

.carousel .carousel__Content {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}
.carousel .carousel__Open{
    position: absolute;
    bottom: -25px;
    width: 70%;
    opacity: 10;
   background-color: unset;
    left: 50%;
    transform: translateX(-50%);
}
.carousel .carousel__Open .carousel__Open__Time{
    font-size: 15px;
    width: 320px;
    text-align: center;
    font-weight: 300;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 20px;
    background-color: #ffffff;
    color: #B3B3B3;
    /* margin-right: 0; */
    margin-left: auto;
}
.carousel .carousel__Open .carousel__Open__Check{
    font-size: 15px;
    width: 225px;
    
    font-weight: 300;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    padding: 20px 20px;
    text-align: center;
    background-color: #efa697;
}
@media screen and (max-width:767px){
    .carousel{
        height: 70vh;
    }
    .carousel .carousel__Content {
      
        font-size:27px;
      
    }
    .carousel .carousel__Open{
        bottom: -200px;
    }
    .carousel .carousel__Open .carousel__Open__Time{
      margin: 15px auto;
      font-size: 12px;
      width: 250px;
      padding-left: 0;
      padding-right: 0;
    }
    .carousel .carousel__Open .carousel__Open__Check{
        margin: 15px auto;
        font-size: 12px;
        width: 250px;
        padding-left: 0;
      padding-right: 0;
    }
}


/* experience */
.experience {
    margin: 50px 0;
    min-height: 100vh;
}
.experience .experience__Content{
    position: relative;
}

.experience .experience__Content .experience__Content__Left{
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 30px;
    max-height: 400px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
}

.experience .experience__Content .experience__Content__Left p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #898989;
}

.experience .experience__Content .experience__Content__Left h2{
 font-size: 35px;
 font-weight: 400;
 line-height: 1.5;
 color: #3C3C3C;
}
.experience .experience__Content .experience__Content__Left a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
   text-decoration: underline;
    color: #3C3C3C;
    margin: 20px 0;
   }
.experience .experience__Content .experience__Content__Right{
    width: 70%;
    top: 0;
    right: 0;
    position: absolute;
}
.experience .experience__Content .experience__Content__Right img{
    width: 100%;
  
}
@media screen and (max-width:992px){
    .experience {
        margin-top: 240;
        min-height: 100vh;
    }
    .experience .experience__Content .experience__Content__Left p{
        font-size: 18px;
      
    }
    
    .experience .experience__Content .experience__Content__Left h2{
     font-size: 25px;
    
    }
    .experience .experience__Content .experience__Content__Left a{
     
        font-size: 15px;
      
       }
}
/* @media screen and (max-width:992){

    .experience {
      
        min-height: 100vh;
    }
  
}  */
@media screen and (max-width:768px){

    .experience {
        margin-top: -240px;
        min-height: 160vh;
    }
    .experience .experience__Content .experience__Content__Left{
        width: 100%;
        position: absolute;
        top: 450px;
    
    }
    .experience .experience__Content .experience__Content__Right{
        width: 100%;
        position: absolute;
        top: 850px;
    
    }
} 
@media screen and (max-width:520px){

    .experience {
        margin-top: -240px;
        min-height: 160vh;
    }
  
} 
/* imgAttachment */
.imgAttachment{
    min-height: 200px;
     background-image:url("https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandspa/demo/wp-content/uploads/2017/02/eforea-Relaxation-Room.jpg");
     background-size: cover;
     background-attachment: fixed;
     padding: 3rem 15px;
}
@media screen and (max-width:992){
    .imgAttachment{
       margin-top: 450px;
    }
}
@media screen and (max-width:768px){
    .imgAttachment{
       margin-top: 450px;
    }
}
@media screen and (max-width:520px){
    .imgAttachment{
       margin-top: 100px;
    }
}
/* services */
.services{
    text-align: center;
    margin: 30px 0;
    line-height: 2;
}
.services .services__Title h2{
    font-size: 35px;
    font-weight: 400;
    color: #3C3C3C;

}
.services .services__Title p{
    font-size: 15px;
    font-weight: 500;
    color: #898989;
}
.services .services__Title i{
    font-size: 18px;
    /* font-weight: 500; */
    color: #efa697;
    margin: 20px 0;
 
}
.iconLeaf{
    width: 100%;
    margin: 0 auto;
}
.services .services__Title .iconLeaf__Left{
   
    width: 100px;
    height: 1px;
    background-color: #898989;
    top: 50%;
    left: -200px;
    
    
}
.services .services__Title .iconLeaf__Right{
  
    width: 100px;
    height: 1px;
    background-color: #898989;
    top: 50%;
    right: -200px;
    
}
.services .services__List .services__List__Item{
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 0px solid #efa697;
    transition: .5s;
    padding-bottom: 20px;
}
.services .services__List .services__List__Item .services__List__Item__border{
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 0px solid #efa697;
    transition: .5s;
}
.services .services__List .services__List__Item:hover{
    border-bottom: 3px solid #efa697;
    transform: translateY(-3px);
}
.services .services__List .services__List__Item h3{
    font-size: 22px;
    font-weight: 400;
    color: #3C3C3C;
    line-height: 2;
}
.services .services__List .services__List__Item p{
    font-size: 15px;
    font-weight: 300;
    color: #898989;
    line-height: 2;
}

.services .services__List .services__List__Item span{
    font-size: 15px;
    font-weight: 400;
    color: #3C3C3C;
    line-height: 2;
    text-decoration: underline;
}
.services .services__List .services__List__Item img{
    width: 100%;

}
/* infinity */
.infinity {
    min-height: 350px;
    background-image: url("https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandspa/demo/wp-content/uploads/2017/06/slice-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .infinity__Content h2{
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    line-height: 2;
}
.infinity__Content p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 2;
}
/* relaxation */
.relaxation {
}

.relaxation .relaxation__Item{
    width: 95%;
    height: 380px;
    margin: 35px auto;
    display: flex;
    align-self: center;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    justify-content: center;
    /* padding: auto 0; */
}
.relaxation .relaxation__Item .relaxation__Item__Content{
    width: 100%;
    height: 70%;
    margin: auto 10%;
}
.relaxation .relaxation__Item img{
    width: 100%;
    height: 100%;
   
}

.relaxation .relaxation__Item .relaxation__Item__Content h3{
    font-size: 30px;
    font-weight: 300;
    color: #3C3C3C;
    line-height: 2;
}
.relaxation .relaxation__Item .relaxation__Item__Content p{
    font-size: 15px;
    font-weight: 300;
    color: #898989;
 
}
.relaxation .relaxation__Item .relaxation__Item__Content span{
    font-size: 18px;
    font-weight: 300;
    color: #898989;
    text-decoration: underline;
}
@media screen and (max-width:992px){
    .relaxation .relaxation__Item{
      
        height: 320px;
      
        
    }
    .relaxation .relaxation__Item .relaxation__Item__Content{
      
        margin: auto 2%;
    }
    .relaxation .relaxation__Item .relaxation__Item__Content h3{
       
        line-height: 1;
    }
}
@media screen and (max-width:768px){
    .relaxation .relaxation__Item{
      
        height: 320px;
      
        /* padding: auto 0; */
    }
}
 
/* budget */
.budget{
    min-height: 350px;
    background-image:url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandspa/demo/wp-content/uploads/2017/02/utomhuspool_5.jpg);background-position: center top;text-align:center;padding:250px 0 250px 0;color:#ffffff;    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* event */
.event{


}
.event .event__Item{
    margin: 30px 0;
}
.event .event__Item img{
    width: 100%;
}
.event .event__Item h4{
    color: #3C3C3C;
    font-size: 18px;
    font-weight: 400;line-height: 1.5;
}
.event .event__Item span{
    color: #efa697;

    font-size: 15px;
    font-weight: 600;
    line-height: 3;

}
.event .event__Item button{
    color: #3C3C3C;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    outline: none;
    line-height: 2;
    border: none;
}
/* footer */
.footer{
    background-color: #222222;
    color: #828282;
    padding-top: 50px;
}
.footer .footer__Item img {
    width: 157px;
    height: 59px;
    margin-bottom: 20px;
}
.footer .footer__Item span{
    color: #828282;
    
    font-size: 15px;
    font-weight: 300;
}
.footer .footer__Item h4{
    color: #828282;
    line-height: 2;
    font-size: 18px;
    font-weight: 500;
}
.footer .footer__Item p{
    color: #828282;
    
    font-size: 15px;
    font-weight: 300;
}
.footer .footer__Item .footer__Icon{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.footer .footer__Item .footer__Icon i{
    height: 35px;
    width: 35px;
    /* border: .5px solid #777; */
    border-radius: 50%;
    line-height: 33px;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    /* transition: .5s; */
}

.footer .footer__Item .footer__Icon i:first-child{
 background-color: #2D5F9A;
}
.footer .footer__Item .footer__Icon i:nth-child(2){
    background-color: #00C3F3;
}
.footer .footer__Item .footer__Icon i:nth-child(3){
    background-color: #ff0084;
}
.footer .footer__Item .footer__Icon i:nth-child(4){
    background-color: #BD081C;
}
.footer .footer__Item .footer__Icon i:nth-child(5){
    background-color: #405DE6;
}
.footer .footer__Item input{
    outline: none;
    width: 100%;
    padding: 8px 15px;
    font-size: 15px;

    text-align: center;
    border: none;border-radius: 5px;

}
.footer .footer__Item button{
    outline: none;
    width: 100%;
    padding: 8px 15px;
    font-size: 15px;
    text-align: center;
    border: none;border-radius: 5px;
    background-color: #efa697;
    color: #ffffff;
    margin-top: 5px;
transition: .5s;
}

.footer .footer__Item button:hover{
 
    background-color: #3C3C3C;
    

}